* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: black;
  transition: 0.4s;
}

.navbar.scrolled {
  background: #49494976;
  box-shadow: 0 4px 15px rgba(191, 191, 191, 0);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 45px;
  width: auto;
  object-fit: contain;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;

}

.track {
  display: flex;
  align-items: center;
  gap: 6px;
}

.menu-icon {
  display: none;
  font-size: 26px;
  color: white;
}

/* Hero */
.hero {

  background:
    linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0.3)),
    url("hero.jpg") center/cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Hero Content */
.hero-content {
  max-width: 650px;
  padding: 180px 70px;
}

.tagline {
  color: red;
  font-weight: bold;
  margin-bottom: 12px;
  display: block;
  font-size: 50px;
  padding-bottom: 30px;

}

.hero-content h1 {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 40px;
}

.hero-btn {
  background: red;
  color: white;
  padding: 14px 32px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

/* Animation */
.fade-up {
  animation: fadeUp 1.2s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Bottom Features */
.features {
  background: url("map.jpg") center/cover no-repeat;
  padding: 50px 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  text-align: center;
}

.feature {
  color: #000000;
}

.feature span {
  width: 90px;
  height: 90px;
  background: #bebebe;
  color: #000;
  border-radius: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  margin: 0 auto 8px;
  transition: 1s ease;
}

.feature p {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 1.4;
}

/* Hover effect */
.feature:hover span {
  background: #e50914;
  color: #fff;
  transform: translateY(-6px);
}

/* Desktop layout */
@media (min-width: 768px) {
  .features {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 90vh;
  }
}

/* Mobile */
@media(max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 260px;
    background: #000;
    flex-direction: column;
    padding-top: 70px;
    transition: 0.4s;
  }

  .menu-icon {
    display: block;
  }

  .hero-content {
    padding: 140px 30px;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-features {
    flex-direction: column;
    gap: 20px;
  }
}

/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 22px;
  cursor: pointer;
  color: white;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #11111152;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Nav Links */
.nav-links {
  position: fixed;
  right: -250px; /* hidden by default */
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  transition: 0.3s;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #333;
}

.close-btn {
  font-size: 25px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Hamburger Icon */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none; /* only show on mobile */
}

/* Responsive */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    width: 250px;
  }
}


/* Services Hero */
.services-hero {
  margin-top: 90px;
  padding: 80px 20px;
  text-align: center;
  background: url("our\ services.jpg") center/cover no-repeat;
  
}

.services-hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}
.services-hero p {
  font-size: 20px;
  color: rgb(255, 0, 0);
  max-width: 600px;
  font-weight: 600;
  margin: auto;
  line-height: 1.6;
}

/* Services Section */
.services-section {
  padding: 80px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.service-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  height: 320px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.service-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

/* Dark overlay */
.service-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

/* Content */
.service-content {
  position: absolute;
  inset: 0;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.service-content i {
  font-size: 36px;
  color: red;
  margin-bottom: 15px;
}

.service-content h3 {
  font-size: 50px;
  margin-bottom: 10px;
}

.service-card:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .service-card {
    height: 260px;
  }
}

.service-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.quote-section{
  padding:70px 20px;
  background:#ff0202;
  text-align:center;
}

.quote-section h2{
  font-size:32px;
  margin-bottom:10px;
}

.quote-section p{
  color:#000000;
  margin-bottom:35px;
}

.quote-form{
  max-width:700px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}

.quote-form input,
.quote-form select{
  padding:14px;
  font-size:15px;
  border:1px solid #ccc;
  border-radius:4px;
  width:100%;
}

.quote-form button{
  grid-column:span 2;
  padding:15px;
  background:rgb(241, 241, 241);
  color:rgb(255, 25, 25);
  border:none;
  font-size:20px;
  font-weight: 700;
  cursor:pointer;
  border-radius:4px;
}

/* Mobile */
@media(max-width:768px){
  .quote-form{
    grid-template-columns:1fr;
  }

  .quote-form button{
    grid-column:span 1;
  }
}


.home-services{
  position:relative;
  background:url("car\ container.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 20px;
  animation: fadeUp 1.7s ease forwards;
}

.map-overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(255, 255, 255, 0.7);
  z-index:1;
}

.home-services > *{
  position:relative;
  z-index:2;
  
}
.home-services h2{
  color:red;
  font-size:40px;
  font-weight:bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.home-services h4{
  font-size:22px;
  margin:0px 0 20px;
  color:#4a4a4a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.services-text{
  max-width:700px;
  margin:20px auto 50px;
  font-size:20px;
  color:#e3e3e3;
  line-height:1.6;
}

.services-list{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:40px;
  max-width:600px;
  margin: 40px auto 0;
  justify-items: center;
}

.service-item img{
  width:300px;
  margin-bottom:10px;
  justify-items: center;
  border-radius: 10px;
}

.service-item p{
  font-weight:600;
  color:#e6e6e6;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:solid;
}


/* Mobile */
@media(max-width:768px){
  .services-list{
    grid-template-columns:1fr;
  }
}

.clients-section{
  position:relative;
  background:url("car.jpg") center/cover no-repeat;
  padding:80px 20px;
  color:white;
}

.clients-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.65);
  z-index:1;
}

.clients-content{
  position:relative;
  z-index:2;
  max-width:900px;
  margin:auto;
}

.clients-content h2{
  color:red;
  font-size:42px;
  margin-bottom:10px;
}

.clients-content .line{
  display:block;
  width:60px;
  height:3px;
  background:white;
  margin-bottom:20px;
}

.clients-content p{
  max-width:600px;
  font-size:18px;
  line-height:1.7;
  margin-bottom:40px;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.clients-logos{
  display:grid;
  grid-template-columns:repeat(2, 1fr);   /* 2 columns */
  gap:20px;
  max-width: 400px;
  margin-top:30px;
  animation: fadeUp 1.7s ease forwards;
}

.clients-logos img{
  background:white;
  padding:20px;
  width:160px;
  height: 120px;
  object-fit:contain;
  max-width:180px;
  margin:auto;
  display:block;
  border-radius:4px;
}

/* last logo center me */
.clients-logos img:last-child{
  grid-column:1 / span 2;
  justify-self:center;
  width:50%;
}


/* Mobile */
@media(min-width:500px){
  .clients-logos{
    grid-template-rows:1fr;
  }
}

.footer{
  background:#ededed;
  padding:50px 20px 20px;
  border-top:1px solid #ddd;
}

.footer-content{
  max-width:1000px;
  margin:auto;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:30px;
}

.footer-logo h2{
  color:red;
  font-size: 35px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.footer-logo small{
  color:#555;
}

.footer-links h3,
.footer-contact h3{
  color:red;
  margin-bottom:8px;
}

.footer .line{
  display:block;
  width:40px;
  height:2px;
  background:#333;
  margin-bottom:15px;
}

.footer-links a{
  display:block;
  color:#2c3199;
  margin-bottom:8px;
  font-size:14px;
}

.footer-links a:hover{
  color:rgb(188, 37, 37);
}

.footer-contact h5{
  font-size:14px;
  color:#4d4d4d;
  text-decoration: none;
  margin-bottom:8px;
}

.footer a{
  color:#3b56ee;
  text-decoration: none;
}
.footer-bottom{
  text-align:center;
  margin-top:30px;
  padding-top:15px;
  border-top:1px solid #333;
  font-size:13px;
  color:#444;
}

/* Mobile */
@media(max-width:768px){
  .footer-content{
    grid-template-columns:1fr;
    text-align:left;
  }
}


