body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #111;
}

.logo img {
  height: 45px;
}

/* Desktop Menu */
.nav-links {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100%;
  background-color: #0b0b0b;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  transition: 0.3s ease;
  z-index: 1000;
}
.nav-links a {
  color: white;
  text-decoration: none;
  padding: 18px 30px;
  font-size: 18px;
  border-bottom: 1px solid #1a1a1a;
}

.nav-links a:hover {
  background-color: #111;
}
/* Hamburger icon hidden on desktop */
.menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Mobile Menu */
@media screen and (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #111;
    flex-direction: column;
    padding-top: 60px;
    transition: 0.3s;
  }

 .close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 22px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
}
/* Banner */
.banner {
  width: 100%;
  height: 300px;
  background-image: url("contactusheroimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgb(255, 0, 0);
  text-align: center;
}

/* Contact Section */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 40px;
  justify-content: center;
}

.contact-info {
  width: 300px;
}

.contact-info p {
  line-height: 1.8;
}

.contact-info a {
  text-decoration: none;
  color: black;
}

/* Contact Form */
.contact-form {
  width: 350px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 12px;
  background-color: #111;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #333;
}

.footer{
  background:#ededed;
  padding:50px 20px 20px;
  border-top:1px solid #ddd;
  display:grid;
}

.footer-content{
  max-width:1000px;
  margin:auto;
  grid-template-columns:1fr 1fr 1fr;
  gap:30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}

.logo img {
  height: 45px;
  width: auto;
  object-fit: contain;
}

.footer-logo small{
  color:#555;
}

.footer-links h3,
.footer-contact h3{
  color:red;
  margin-bottom:8px;
}

.footer .line{
  display:block;
  width:40px;
  height:2px;
  background:#333;
  margin-bottom:15px;
}

.footer-links a{
  display:block;
  color:#3a57e7;
  margin-bottom:8px;
  font-size:14px;
}

.footer-links a:hover{
  color:red;
}

.footer-contact p{
  font-size:14px;
  color:#555;
  margin-bottom:8px;
  text-decoration: underline;
}

.footer-bottom{
  text-align:center;
  margin-top:30px;
  padding-top:15px;
  border-top:1px solid #333;
  font-size:13px;
  color:#444;
}